:root {
  --color-bg: #e5e5e5;
  --color-green: #34c759;
  --color-orange: #e6b127;
  --color-red: #f06a4d;
  --color-firm: #9873ff;
  --color-firm-dark: #6843ce;
  --color-grey: #c8c5d1;
  --color-txt-grey: #b0b0b0;
  --color-black: #333;
  --color-athens-gray: #f4f3f6;
  --color-mishka: #e7e5eB;
  --color-melrose: #b89eff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}


@font-face {
  font-family: 'OpenSans';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibold-webfont.woff') format('woff');
  font-display: swap;
}

*,
::before,
::after {
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: 'OpenSans', sans-serif;
  scroll-behavior: smooth;
  font-size: 14px;
  line-height: 19px;
  color: var(--color-black);
}

body {
  position: relative;
  overflow-x: hidden;
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

.container {
  max-width: 1216px;
  margin: 0 auto;
  padding: 0 15px;
}

select {
  border: none;
  background-color: transparent;
}

.btn-reset {
  display: inline-block;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.site-tooltip {
  position: absolute;
  padding: 7px 13px 20px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: white;
  background-color: var(--color-black);
  opacity: 0;
  visibility: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 75%, 46% 100%, 40% 75%, 0% 75%);
  transition: opacity .2s ease;
}
